.file-wrapper
{
    position: relative;
}
.custom-file-upload
{
    display: none !important;
}
.file-upload-container
{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 250px;
    box-shadow: 0 1px 6px #00000035;
    border-radius: 5px;
    padding: 5px;
    z-index: 9999;
    background-color: white;
}
.file-upload-container.show 
{
    display: block;
    box-shadow:  0 2px 6px #00000035;
}
.file-upload-container .row-item
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #F7E4FF;
    padding: 10px;
    margin: 5px 0;
}
.file-info
{
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.file-info img { cursor: pointer; display: block; margin-left: auto; }

.file-upload-container {
    font-size: 11px;
}

.file-name
{
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-name a{
    white-space: nowrap; 
}

.file-remove
{
    width: 10px;
    height: 10px;
    margin-left: 10px;
}

.file-info .info { padding: 5px; }
